.img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-deletePerfil-container {
    display: flex;
    justify-content: space-around;
}