<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs') %>
        <section class="curso" id="cursos">
            <h3 class="sub-heading"></h3>
            <h1 class="heading"> Convertite en un experto en café</h1>

            <div class="box-container">
                <div class="box">
                    <img src="img/empresa/barista-completo.jpg" alt="">
                    <h3>Barista completo</h3>
                    <div class="stars">       
                    </div>
                    <div id="baristaCompleto_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="baristaCompleto_btn" class="btn">+ Info</button> 
                </div>

                <div class="box">
                    <img src="img/empresa/cafe-filtrado.jpg" alt="">
                    <h3>Café filtrado</h3>
                    <div class="stars">
                    </div>
                    <div id="cafeFiltrado_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="cafeFiltrado_btn" class="btn">+ Info</button>    
                </div>

                <div class="box">
                    <img src="img/empresa/espresso-perfecto.jpg" alt="">
                    <h3>Espresso perfecto</h3>
                    <div class="stars">
                    </div>
                    <div id="espressoPerfecto_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="espressoPerfecto_btn" class="btn">+ Info</button>  
                </div>

                <div class="box">       
                    <img src="/img/empresa/arte-latte.jpg" alt="">
                    <h3>Arte Latte </h3>
                    <div class="stars">
                    </div>
                    <div id="arteLatte_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="arteLatte_btn" class="btn">+ Info</button>
                </div>

                <div class="box">
                    <img src="/img/empresa/cafe-frio.jpg" alt="">
                    <h3>Café frío</h3>
                    <div class="stars">
                    </div>
                    <div id="cafeFrio_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="cafeFrio_btn" class="btn">+ Info</button>
                </div>

                <div class="box">
                    <img src="/img/empresa/coffee-roaster.jpg " alt="">
                    <h3>Tostador de café </h3>
                    <div class="stars">
                    </div>
                    <div id="tostador_info">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sint incidunt asperiores eius id ab explicabo enim hic ipsum quod.
                        </p>
                    </div>
                    <button id="tostador_btn" class="btn">+ Info</button>
                </div>


            </div>
        </section>

        
        <%- include('partials/banner.ejs') %>
        
        <!--   Comieza footer     -->
        <%- include('partials/footer.ejs') %>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/curso.js"></script>
    </body>
</html>