<%- include('partials/head.ejs') %>
<body>
    <a href="/"><img class="home" src="/views/home.ejs" alt=""></a>
    <div class="svg">
        
        <img src="" alt=""/>

        <div class="error">
            <h2>Oops!</h2>
            <h2>Esta página no funciona.</h2>
            <h1>404</h1>
            <p>Estamos trabajando para resolverlo.</p>
        </div>

        <div class="btn-flotante">
            <a class="btn-flotantes" href="/">Volver a Arte café</a>
        </div>

    </div>
</body>