<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs') %>

        <section class="banner1">
            <img src="/img/imgVarios/caffe-home1.png" alt="" />
        </section>

            <section class="merienda" id="meriendas">

                <h3 class="sub-heading"></h3>
                <h1 class="heading"> Sorprendé con una merienda muy especial </h1>

                <div class="box-container">

                    <div class="box">
                        
                        <a href="#" class="fas fa-eye"></a>
                        <img src="img/img_home/merienda.jpg" alt="">
                        <h3>Merienda simple</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <span>$400</span>

                        <a href="#" class="btn">Agregar</a>
                    </div>

                    <div class="box">
                        
                        <a href="#" class="fas fa-eye"></a>
                        <img src="img/img_home/merienda_campo.jpg" alt="">
                        <h3>Merienda campo</h3>
                        <div class="stars">
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <span>$600</span>
                            <a href="#" class="btn">Agregar</a>
                        </div>
                    </div>
                    <div class="box">
                        
                        <a href="#" class="fas fa-eye"></a>
                        <img src="img/img_home/merienda_2.jpg" alt="">
                        <h3>Merienda premium</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <span>$750</span>
                        <a href="#" class="btn">Agregar</a>
                    </div>
                    <div class="box">
                        <a href="#" class="fas fa-eye"></a>
                       
                        <img src="/img/imgVarios/para_compartir.jpg" alt="">
                        <h3>Para compartir</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <span>$1500</span>
                        <a href="#" class="btn">Agregar</a>
                    </div>
                </div>
            </section>
            <br>

    </body>
   <%- include('partials/banner.ejs') %>
    <!----   Comieza footer     ----->
    <%- include('partials/footer.ejs') %>

        <script src="js/main.js"></script>

</html>