<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        
    TIPOS DE MOLIENDA DEL CAFÉ
1. MOLIENDA FINA
Textura de sal de mesa ideal para café de moka italiana. Deberás moler más fino para el espresso y aún más si eres usuario de una cafetera turca (polvo de café).
2. MOLIENDA MEDIA-FINA
Textura un poco más gruesa que la sal de mesa, óptima para AeroPress y conos de goteo como V60 o Clever Coffee Dripper.
 
3. MOLIENDA MEDIA
Textura de azúcar moreno compatible con métodos de goteo que usan filtro de fondo plano como Kalita Wave, y cafeteras de sifón.
 
4. MOLIENDA MEDIA-GRUESA
Textura de sal gruesa ideal para una cafetera de filtro Chemex.
 
5. MOLIENDA GRUESA
Textura como de migas de pan ideal para prensa francesa. Puedes moler un poquito más grueso incluso para café infusionado en frío (cold brew).


TRUCOS PARA MOLER CAFÉ EN CASA
Nunca compres café torrefacto es de peor calidad y puede llegar a provocar problemas en tu molinillo: usa café fresco 100 % arábica para degustar todos sus aromas y sabor.

Muele el café justo antes de prepararlo para evitar su oxidación.

Si el café te ha salido sub-extraído, y tiene un regusto agrio, prueba a moler más fino los granos. Al molerlos demasiado grueso, la infusión del café no ha extraído todo el sabor del café, es decir, el café molido no se ha humedecido lo suficiente.

Si, por el contrario, el café tiene un regusto amargo (sobre-extracción) deberás moler más grueso. En este caso, las partículas de café se han empapado más tiempo de lo debido.
<%- include('partials/footer.ejs') %>
</body>
</html>