<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
 <!-- imagen move  -->

    <div class="icon">
                <img src="/img/iconos/check.jpg" alt="">
    </div>
    <main>  
        
        <div class="compra">
            <h1>¡Compra realizada!</h1>

            <img src="img/imgVarios/59213724-icono-de-marca-verde.jpg" alt="">

            <p>hemos recibido correctamente el pago. <br>
                esperamos que disfrutes tu compra.
            </p>
          



        </div>
        <div class="continuar">
            <button><a href="products">continuar</a></button>
        </div>

        <a href="vista">volver</a>
    </main>
    

    <%- include('partials/footer.ejs') %>
</body>
</html>