<section class="icons_bann">

    <div class="icon_bann">
        <img src="/img/iconos/delivery-truck.png" alt="">
        <div class="info">
            <h3>Envío a todo el pais</h3>
            <span>Bonificado a partir de $3500</span>
        </div>
    </div>

    <div class="icon_bann">
        <img src="/img/iconos/gif.png" alt="">
        <div class="info">
            <h3>Gift card</h3>
            <span>Regala los mejores momentos</span>
        </div>
    </div>

    <div class="icon_bann">
        <img src="/img/iconos/escudo.png" alt="">
        <div class="info">
            <h3>Todos los medios de pago</h3>
            <span>Tu compra segura</span>
        </div>
    </div>
    
</section>