

<h1 style="text-align: center; margin-bottom: 2rem;"> Nuestros clientes</h1>

<section class="section">
    <div class="testimonial-center container">
    
      <div class="testimonial">
        <span><i class="fas fa-mug-hot"></i></span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="img-cover">
          <img src="/img/imgVarios/emilia.jpg" alt="" />
        </div>
        <h4>Emilia S.</h4>
      </div>
      <div class="testimonial">
        <span><i class="fas fa-mug-hot"></i></span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <div class="img-cover">
          <img src="/img/imgVarios/tomas.jpg" alt="" />
        </div>
        <h4>Tomas E.</h4>
      </div>
      <div class="testimonial">
        <span><i class="fas fa-mug-hot"></i></span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="img-cover">
          <img src="/img/imgVarios/amalia.png" alt="" />
        </div>
        <h4>Amalia S.</h4>
      </div>
    </div>
  </section>