<footer>
   
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C132.34,195.88 257.62,12.33 500.84,84.38 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: rgb(255, 255, 255);"></path>
    </svg></div>

    <div class="container_footer">
        <div class="box_footer1">
            <div class="logo">
                <img src="/img/img_home/gif3.gif" alt="">
            </div>

        </div>
        <div class="box_footer">
            <h2>Medios de pago</h2>
            <a href="#"><i class="fas fa-credit-card"></i> Tarjetas</a>
            <a href="#"><i class="fas fa-money-bill-wave"></i> Efectivo</a>
            <a href="#"><i class="fas fa-money-check-alt"></i> Transferencias</a>
            <a href="#"><i class="far fa-handshake"></i></i> MercadoPago</a>
        </div>

        <div class="box_footer">
            <h2>La empresa</h2>
            <a href="/contact"><i class="far fa-laugh-wink"></i> Contacto</a>
            <a href="/trabajos"><i class="fas fa-mug-hot"></i> Trabajos</a>
            <a href="/cursos"><i class="fas fa-chalkboard-teacher"></i> Cursos</a>
            <a href="https://wa.me/541161031216"><i class="fab fa-whatsapp"></i> Whatsapp</a>
        </div>

        <div class="box_footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/Arte-cafe-107687191735250"><i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://twitter.com/artecafec8"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="https://www.linkedin.com/in/arte-cafe/"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="https://www.instagram.com/arte.cafe.c8/"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados &copy; <b>Grupo 6 | C8 2021 { Emilce & Rocio }</b></p>
        </div>
</footer>